PORT=3002
DB_HOST=mysql
DB_PORT=3306
DB_NAME=backend_test
DB_USER=root
DB_PASSWORD=root
JWT_SECRET=supersecret
SERVICE_TOKEN=service-secret-token
AUTH_USER=admin@test.com
AUTH_PASSWORD=123456
CUSTOMERS_API_BASE=http://customers-api:3001